<!doctype html>
<html lang="en" ng-app="betsmvc" data-framework="typescript">
  <head>
    <meta charset="utf-8">
    <title>Bets</title>
    <link rel="stylesheet" href="node_modules/todomvc-common/base.css">
    <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
    <style>[ng-cloak] { display: none; }</style>
  </head>
  <body>
    <section id="betapp" ng-controller="betCtrl">
      <header id="header">
	<h1>bets</h1>
	<form id="bets-form" ng-submit="vm.addBet()">
	  <input id="new-bet" placeholder="What do you think will happen?" ng-model="newBet" autofocus>
	</form>
      </header>
      <section id="main" ng-show="bets.length" ng-cloak>
	<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="vm.markAll(!allChecked)">
	<label for="toggle-all">Mark all as complete</label>
	<ul id="bet-list">
	  <li ng-repeat="bet in bets | filter:statusFilter track by $index" ng-class="{resolved: bet.resolved, editing: bet == editedBet}">
	    <div class="view">
	      <input class="toggle" type="checkbox" ng-model="bet.resolved">
	      <label ng-dblclick="vm.editBet(bet)">{{bet.title}}</label>
	      <button class="destroy" ng-click="vm.removeBet(bet)"></button>
	    </div>
	    <form ng-submit="vm.doneEditing(bet)">
	      <input class="edit" ng-model="bet.title" bet-blur="vm.doneEditing(bet)" bet-focus="bet == editedBet">
	    </form>
	  </li>
	</ul>
      </section>
      <footer id="footer" ng-show="bets.length" ng-cloak>
	<span id="bet-count"><strong>{{remainingCount}}</strong>
	  <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
	</span>
	<ul id="filters">
	  <li>
	    <a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
	  </li>
	  <li>
	    <a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
	  </li>
	  <li>
	    <a ng-class="{selected: location.path() == '/resolved'}" href="#/resolved">Completed</a>
	  </li>
	</ul>
	<button id="clear-resolved" ng-click="vm.clearResolvedBets()" ng-show="resolvedCount">Clear resolved</button>
      </footer>
    </section>
    <footer id="info">
      <p>Double-click to edit a bet</p>
      <p>Credits:
	<a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
	<a href="http://ericbidelman.com">Eric Bidelman</a>,
	<a href="http://jacobmumm.com">Jacob Mumm</a>
	<a href="http://igorminar.com">Igor Minar</a> and
	<a href="http://zamboch.blogspot.com">Pavel Savara</a>
      </p>
    </footer>
    <script src="node_modules/todomvc-common/base.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="js/Application.js"></script>
  </body>
</html>
